body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #DFDFDE;
}

h4 {
  margin: 1 rem 0;

}

/* Style the header */
.header {
  grid-area: header;
  background-color: #f1f1f1;
  padding: 2rem;
}

/* Style the title */
.title {
  text-align: center;
  font-size: 3rem;
}


/* Style instruction */

.instructions {
  text-align: center;
  background-color: #f1f1f1;
}


/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'left right'
    'form form '
    'footer footer';
  padding: 0 20%;
}


.left, .right {
  padding: 10px;

}

/* Style the left column */
.left {
  display: flex;
  background-color: #aaa;
  align-items: center;
  justify-content: center
}


/* Style the right column */
.right {
  grid-area: right;
  background-color: #ccc
}



/* Style canvas */
.canvas {
  padding: 3rem 0;

}

#myCanvas {
  border: 1px solid #000000;
  background-color: white;
}



.draw-control{
  padding: 3rem 0;
}


/* endvalue, radius, width and height display none */
.end-value,
.radius,
.width-height,
.fill-color {
  display: none;
  padding:0.5rem 0;
}

.display-startX,
.display-startY,
.display-endX,
.display-endY,
.display-radius,
.display-width,
.display-height {
  display: inline-block
}

.color-palette {
  padding: 0.5rem 0;
  padding-bottom: 2rem;
}

#bcolor {
  margin-right: 1rem;
}



/* button */

#draw-btn {
  background: #3498db;
  border-radius: 2rem;
  font-family: Arial;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  margin:0 1rem;
  text-align: center;

}


#draw-btn {
  margin-left: 0;
}

#draw-btn:hover {
  background: #3cb0fd;
}

#clear-btn {
  background: #d80a48;
  border-radius: 2rem;
  font-family: Arial;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  margin:0 0.5rem;

}

#clear-btn:hover {
  background: #ec4972;
}

#image-btn {
  background: #05a81b;
  border-radius: 2rem;
  font-family: Arial;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem;
  margin:0 0.5rem;

}

#image-btn:hover {
  background: #6dce61;
}


/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
 @media (max-width: 1200px) {
  .grid-container  {
    grid-template-areas: 
      'header' 
      'left' 
      'right' 
      'footer' 
      'footer';
  }
} 